<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Eliminar Detalle de Orden</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Eliminar Detalle de Orden</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.id}"></dd>

            <dt class="col-sm-2">Cantidad</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.cantidadAMMA}"></dd>

            <dt class="col-sm-2">Precio</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.precioAMMA}"></dd>

            <dt class="col-sm-2">Producto</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.productoAMMA.nombreAMMA}"></dd>

            <dt class="col-sm-2">Orden</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.ordenAMMA.id}"></dd>
        </dl>

        <form th:action="@{/detallesOrdenAMMA/delete}" method="post"> 
            <input type="hidden" name="id" th:value="${detalleOrden.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/detallesOrdenAMMA}" class="btn btn-secondary">Regresar</a> 
        </form>

    </div>
</div>
</body>
</html>
